# package directories
node_modules
jspm_packages

# Serverless directories
.serverless


# Webpack-generated build output
/dist/
/build/

# Node modules (dependencies)
/node_modules/

# Yarn lock file (if you use Yarn)
/yarn.lock

# NPM lock file (if you use NPM)
/package-lock.json


.webpack
.env