.react-select__value-container.react-select__value-container--has-value {
  display: flex !important;
}

.react-select__placeholder {
  display: flex !important;
}

.react-select__value-container {
  display: flex !important;
}
